neon-stt-plugin-deepspeech_stream_local @ git+https://github.com/NeonDaniel/neon-stt-plugin-deepspeech_stream_local@FEAT_Model0_9_3
holmesv @ git+https://github.com/HelloChatterbox/holmesV
pytest
tornado
mock~=4.0