ovos-core[stt]~=0.0.4a33
mycroft-messagebus-client~=0.9,>=0.9.5
ovos_utils~=0.0,>=0.0.23a6
ovos_plugin_manager~=0.0.16
pydub~=0.23
click~=8.0
click-default-group~=1.2
neon_transformers~=0.1
neon-utils[audio]>=1.0.0a11,<2.0.0
ovos-config~=0.0,>=0.0.2a3
ovos-ww-plugin-pocketsphinx~=0.1.1
ovos-ww-plugin-precise-lite~=0.1.0
ovos-ww-plugin-precise~=0.1.0