# neon-stt-plugin-deepspeech_stream_local~=1.1
neon-stt-plugin-deepspeech_stream_local @ git+https://github.com/neondaniel/neon-stt-plugin-deepspeech_stream_local@FEAT_OvosMycroftCompat
pytest
mock~=4.0
neon-messagebus~=0.2