# This workflow will run unit tests

name: Run Unit Tests
on:
  push:
  workflow_dispatch:

jobs:
  unit_tests:
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt install portaudio19-dev python3-pyaudio
          python -m pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/test_requirements.txt

      - name: Test API Methods
        run: |
          pytest tests/api_method_tests.py --doctest-modules --junitxml=tests/api-method-test-results.xml
      - name: Upload API Method test results
        uses: actions/upload-artifact@v2
        with:
          name: api-method-test-results
          path: tests/api-method-test-results.xml
